{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        {% block extra_css %} {% endblock %}
        <!-- Font Link -->
        <title>Little Lemon</title>
        <link
            rel="icon "
            sizes="10x10  "
            href="{% static 'lemon.png' %}"
            type="image/x-icon"
        />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="box">
                    <img src="{% static 'logo.jpg' %}" alt="" />
                    <h1>LITTLE LEMON</h1>
                </div>
            </div>
        </header>
        <nav>
            <div class="container">
                <div class="nav">
                    <ul>
                        <li><a href="{% url 'home_show' %}">Home</a></li>
                        <li><a href="{% url 'about_show' %}">About</a></li>
                        <li><a href="{% url 'menu' %}">Menu</a></li>
                        <li><a href="{% url 'book_show' %}">Book</a></li>
                        <li>
                            <a href="{% url 'reservation_page' %}"
                                >Reservation</a
                            >
                        </li>
                    </ul>
                    <img src="{% static 'profile_login.png' %}" alt="" />
                </div>
            </div>
        </nav>
        <main>
            <div class="container">{% block content %} {% endblock %}</div>
        </main>
        <footer>
            <div class="container">
                <div class="content">
                    <img src="{% static 'logo.jpg' %}" alt="" />
                    <div class="box">
                        <div class="custom-line"></div>
                        <p>Copyright Little Lemon</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
